html {
     font-size: 14px; 
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.modal-lg, .modal-xl {
    max-width: 1000px;
}

/*.navbar {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}*/

.form-group {
    margin-bottom: 0rem;
}

/*.table>:not(caption)>*>* {
  padding: 0px 20px;
}*/

/*.navbar .navbar-nav {
  display:none;
}*/

/*.navbar-default {
    background-color: #b8bcc2;
    border-color: #e8e8e8;
    
}

.navbar-default .navbar-brand {
  color: #323333;
}*/

.tab-content {
  overflow: auto;
  height: 900px;
}

.btn-group, .btn-group-vertical {
    padding: 2px 0px;
}

/*a {
  color:black;
}*/

.fa, .fab {
  margin-right: 5px;
  z-index: 1000;
}

h5 {
  padding-bottom: 5px;
  margin: 0;
}

#table_cl  {
  white-space: nowrap;
  }
  

/*.navbar-brand {
margin-right: 0;
padding-top: 2px;
padding-bottom: 2px;
}*/


